h1 { font-size:50px;
     font-family:Kaushan-Script;
     color:green;
     border:10px solid green;
     -webkit-box-shadow:5px 5px 10px 5px;
     animation-name:sk;
     animation-duration:4s;
     animation-iteration-count:1;
}
@keyframes sk { 
            0%{-webkit-transform:skew(0deg,0deg);}
            50%{-webkit-transform:skew(30deg,30deg);}
            70%{-webkit-transform:skew(-30deg,-30deg);}
            100%{-webkit-transform:skew(0deg,0deg);}
           }
h2 { font-size:40px;
     font-family:Bebas;
     color:deepskyblue;
     -webkit-box-shadow:5px 5px 10px 5px;
}
@font-face { font-family:Bebas;
             src:url('E:/Najis/Docs/RKGZ/Fonts/Bebas-Regular.otf');
           }
@font-face { font-family:Kaushan-script;
             src:url('E:/Najis/Docs/RKGZ/Fonts/KaushanScript-Regular.otf');
           }
a { font-size:30px;
    text-decoration:underlined;
    color:purple;
    -webkit-box-shadow:5px 5px 10px 5px;
}
h4 { float:right;
     font-family:Bebas;
     border:5px solid red;
     -webkit-box-shadow:5px 5px 10px 5px red;
     animation-name:info;
     animation-duration:2s;
     animation-iteration-count:infinite;
}
@keyframes info { 
            0%{box-shadow:5px 5px 10px 5px white;}
            50%{box-shadow:5px 5px 10px 5px red;}
            100%{box-shadow:5px 5px 10px 5px white;}
           }
p { box-shadow:5px 5px 10px 5px;
    border:5px solid;
    font-family:Bebas;
    -webkit-box-shadow:5px 5px 10px 5px;
}
img { -webkit-box-shadow:5px 5px 10px 5px;
}